/**
 * partials/header
 * ---
 */


// Header container
.header {
	background: #1F0124;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
  .header i {
    color:white;
  }
// Logo
.logo {
  span {
    position: absolute;
    left: 0;
  }
  span a i {
    color:white;
  }

}

.logo-img {
  width: 100px;
  background-color: white;
  flex-grow: 2;
}
