/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;


/**
 * Grid
 */


 $gradient-header: -moz-linear-gradient(45deg, rgba(29,45,62,1) 0%, rgba(40,53,67,1) 40%, rgba(16,36,55,1) 100%);


/**
 * Grid
 */

$wrapper-width: 100vw;


$padding-horizontal-base:0px;
$padding-vertical-base:0px;
$margin-horizontal-base:0px;
$margin-vertical-base:0px;
$margin-horizontal-large: 0px;
$margin-vertical-large: 0px;
